<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Impressoras térmicas Wi-Fi (ESC/POS via socket TCP, porta 9100) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MurupiApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MurupiComandas"
        tools:targetApi="31">

        <activity
            android:name=".ui.inicio.InicioActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.comanda.ComandaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />

        <activity
            android:name=".ui.produto.IncluirProdutoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />

        <activity
            android:name=".ui.catalogo.CatalogoActivity"
            android:label="@string/titulo_catalogo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />

        <activity
            android:name=".ui.impressora.ImpressorasActivity"
            android:label="@string/titulo_impressoras"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />

        <activity
            android:name=".ui.impressora.RoteamentoActivity"
            android:label="@string/titulo_roteamento"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />

        <activity
            android:name=".ui.historico.HistoricoActivity"
            android:label="@string/titulo_historico"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />
    </application>

</manifest>
